:host {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 125px;
    font-size: 1.5em;
}

:host > div {
    margin: 10px;
}

.counters {
    display: flex;
    flex-direction: column;
}

.timer {
    font-size: 3em;
}
