* {
    color: #8a1b86;
}

.left-text {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.right-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

#text-view {
    position: fixed;
    top: 300px;
    left: 0;
    user-select: none;
    font-size: 3em;
    width: 100%;
    display: flex;
    white-space: pre;
    transition: color 0.1s;
}

.typ3rtext {
    border-left: blue 1px solid;
}


.ok-text {
    text-align: right;
    /* color: #075cee; */
    color: rgba(138, 27, 134, 0.4)
}

.ready-question {
    position: fixed;
    left: 400px;
    top:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.ready-question button {
    color: purple;
    background-color: green;
    border-style: none;
    padding: 20px;
    margin-top: 10px;
}

.wrong-alert {
    color:red;
}

.context-text {
    position: fixed;
    top: 400px;
    left: 300px;
    width: 60%;
    font-size: 1.2em;
}

app-stats-counter {
    display: flex;
    width: 100%;
    height: 200px;
}
