<ng-template [ngIf]="!finished" [ngIfElse]="finalStats" >
    <app-stats-counter [data]="data"></app-stats-counter>
    <div id="text-view" >
        <div class="left-text">
            <span class="ok-text">{{passedCharacters}}</span>
            <span class="wrong-alert">{{wrongCharacters}}</span>
        </div>
        <div class="right-text">
            <span 
                id="typ3rtext" 
                class="typ3rtext">{{renderedText}}</span>
        </div>
    </div>

    <div class="context-text">
        <span class="ok-text">{{ passedCharacters }}</span>
        <span class="wrong-alert">{{wrongCharacters}}</span>
        <span class="typ3rtext">{{ renderedText }}</span>
        
        <span class="velocimeter"> {{wordsPerMinute}} WPM</span>
    </div>

</ng-template>

<ng-template #finalStats>
    <div class="final-stats">
        <span>{{ wordsPerMinute }} WPM</span>
        <span>{{ data.characters }} characters</span>
        <span>{{ data.characters + data.mistakes }} keystrokes</span>
        <span>{{ data.accuracy }}% accuracy</span>
    </div>
</ng-template>  
