* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #12151F;
    color: #8a1b86;
    height: 100vh;
    width: 100%;
    animation: background-change 25s infinite alternate;
}

app-sidebar {
    position: absolute;
}

@keyframes background-change {
    0% {
        background-color: #12151F;
    }
    100% {
        background-color: #21092a;
    }
}
